<div class="panel panel-default">
	<div class="panel-body">
		<a href="#" class="list-group-item active">
			Apoio à UFOP
		</a>
		<p>A Feop é um dos principais órgãos de apoio à Universidade Federal de Ouro Preto, a Ufop. Desde 1993, a instituição realiza a gestão de projetos de pesquisas, ensino e extensão desenvolvidos pela Universidade, de forma a contribuir para o seu plano de desenvolvimento institucional e, sobretudo, na efetivação e socialização do saberes produzidos por pesquisadores e alunos.</p>
		<p>Hoje, mais de 80% dos projetos geridos são vinculados à Ufop no tocante às questões financeira, logística, burocrática e jurídica. Estudantes de pós-graduação e iniciação científica recebem orientações e consultorias nas diversas etapas de desenvolvimento da pesquisa. Essas orientações abrangem desde a adequada concepção do projeto às maneiras racionais, legais e eficazes de aplicação dos recursos captados junto aos órgãos financiadores.</p>
		<p>A filosofia da Feop está estritamente ligada aos seus valores, visão e missão estatuária, assim definida: “prestar serviços de apoio  às comunidades científica e acadêmica, com finalidades educacional, cultural e informativa, atuando na captação e  gestão de projetos, convênios e contratos de interesse da Ufop e da comunidade em geral,  em benefício do desenvolvimento do Brasil”.</p>
		
		<ul class="list-group">
			O apoio à Ufop distribui-se nas seguintes modalidades:
			<li class="list-group-item">Projetos Acadêmicos: São os projetos de pesquisas acadêmicas desenvolvidos pela Ufop e financiadas pela Fundação de Amparo a Pesquisa do Estado de Minas Gerais – Fapemig, Finep, entre outras fontes de apoio à pesquisa científica.</li>
			<li class="list-group-item">Projetos de Prestação de Serviços: São projetos geridos pela Feop e realizados em parceria com a Ufop, para a realização de serviços especializados junto à empresas privadas. Nesse segmento destacam-se os projetos com empresas como Vale, Petrobras, V&M, Gerdau, entre outras.</li>
			<li class="list-group-item">Projetos de Desenvolvimento Profissional: São desenvolvidos juntamente com a  Ufop e são os  Cursos de Pós-Graduação Latu Sensu, os Cursos de Educação a Distancia pelo Cead/Ufop.</li>
			<li class="list-group-item">Projetos de Turismo: Relacionados às atividades turísticas que buscam desenvolver o potencial turístico e a valorização de regiões com atrativos naturais, culturais ou históricos.</li>
			<li class="list-group-item">Projetos de Tecnologia: Foco no desenvolvimento de novas tecnologias e a participação da sociedade nesse processo, tendo como destaque o Projeto Barbacena Tiradentes Cidades Digitais, o Bartir.</li>
		</ul>

	</div>


</div>


