<h1>
<a href="https://www.facebook.com/fundacaoeducativa" target="_blank">
                              <%= image_tag("conveniar_big.jpg", :type => :upload, :width => 500, :height => 100, :crop => :fill) %>
                          </a>
                          </h1>

<div class="panel panel-default">
  <div class="panel-body">
	<p>
	Conveniar oferece mais segurança, eficiência e rapidez aos usuários, além de garantir maior transparência sobre as ações e os serviços prestados.</p>
<p>
De forma simplificada e interface amigável, a ferramenta oferece maior quantidade de informações, eficiência, segurança e, sobretudo, uma gama de funcionalidades aos usuários do sistema Feop, durante as solicitações de serviços. Somado a isso, o Conveniar permitirá mais transparência aos processos e ações internos.</p>

<p>A iniciativa permitirá que todos os usuários se informem ou efetuem seus pedidos de compra, pagamentos de bolsas, acompanhamentos dos processos licitatórios, saldos de convênios, diretamente pelo sistema. Segundo o presidente da Feop, professor Rogelio Lopes Brandão, o plataforma confere mais transparência às ações.</p>

<p>"A Feop é uma fundação de apoio a uma instituição pública e federal e, como tal, espera-se a mais completa transparência e a eficiência de gestão”, considera.</p>

<p>O sistema Conveniar funciona à semelhança dos serviços oferecidos por uma agência bancária, na qual os ‘clientes’ poderão acompanhar saldos, extratos e conferência de dados. Vale ressaltar que todas as etapas dos processos de compra e licitatórios serão realizados inteiramente na versão online.</p>

  </div>
</div>



<div class="panel panel-default">
	<div class="panel-heading"><h4>Confira as vantagens:</h4></div>
	<div class="panel-body">
		<div class="list-group">

			<ul class="list-group">
				<li>Sistema de compras completamente informatizado;</li>
				<li class="list-group-item">Redução da burocracia.</li>
				<li class="list-group-item">O usuário apenas preenche a solicitação e acompanha o seu andamento nos trâmites da Feop;</li>
				<li class="list-group-item">Integração de todos os setores por meio do sistema, diminuindo a burocracia, a quantidade de papéis e o risco de erros, além de aumentar a capacidade de atendimento e de realização de auditoria interna;</li>
				<li class="list-group-item">Obtenção de informações gerenciais para a tomada de decisões em tempo real, como indicadores de desempenho da Feop, resumo da movimentação dos convênios, resumo executivo de compras e contratações e relatórios de prestação de contas;</li>
				<li class="list-group-item">Um módulo exclusivamente dedicado à segurança da informação, com criptografia, controle de acesso, permissões configuráveis e regras específicas de acesso e uso das informações. Isso permite o acompanhamento e o registro de todas as informações e as ações dos usuários do sistema Feop, sendo possível, inclusive, identificar em qual computador determinado acesso foi realizado.</li>
			</ul>

		</div>
	</div>
</div>

