<!--<h1>
<a href="https://www.facebook.com/fundacaoeducativa" target="_blank">
                              <%= image_tag("conveniar_big.jpg", :type => :upload, :width => 500, :height => 100, :crop => :fill) %>
                          </a>
                      </h1>-->

                      <div class="list-group">
                      	<a href="#" class="list-group-item active">
                      		LEGISLAÇÂO
                      	</a>
                      	<a href="http://www.planalto.gov.br/ccivil_03/Leis/L8958.htm" target=”_blank” class="list-group-item">Legislação Aplicável</a>
                      	<a href="http://www.planalto.gov.br/ccivil_03/_Ato2007-2010/2010/Decreto/D7423.htm" target=”_blank” class="list-group-item">Lei n° 8.958/1994 - Lei de Fundações de Apoio</a>
                      	<a href="http://www.planalto.gov.br/CCIVIL_03/_Ato2011-2014/2014/Decreto/D8240.htm" target=”_blank” class="list-group-item">Decreto 7.423/2010 - Regulamenta a Lei de Fundações de Apoio</a>
                      	<a href="http://www.planalto.gov.br/CCIVIL_03/_Ato2011-2014/2014/Decreto/D8240.htm" target=”_blank” class="list-group-item">Decreto 8.240/2014 - Regulamenta o art. 1º-B da Lei 8.958/94</a>
                      	<a href="http://www.conveniosfederais.com.br/IN/in0197final.htm" target=”_blank” class="list-group-item">Instrução Normativa STN n° 01/1997</a>
                      	<a href="http://www.planalto.gov.br/ccivil_03/_Ato2007-2010/2007/Decreto/D6170.htm" target=”_blank” class="list-group-item">Decreto n° 6.170/2007</a>
                      	<a href="http://www.planalto.gov.br/CCIVIL_03/_Ato2011-2014/2014/Decreto/D8244.htm" target=”_blank” class="list-group-item">Decreto 8.244/2014 - Altera o Decreto 6.170//2007</a>
                      	<a href="http://www.governoeletronico.gov.br/biblioteca/arquivos/portaria-interministerial-no-507-de-24-de-novembro-de-2011/view?searchterm=portaria" target=”_blank” class="list-group-item">Portaria Interministerial n° 507/2011</a>
                      	<a href="http://www.planalto.gov.br/ccivil_03/_Ato2004-2006/2004/Lei/L10.973.htm" target=”_blank” class="list-group-item">Lei n° 10.973/2004 - Lei de Inovação Tecnológica</a>
                      	<a href="http://www.planalto.gov.br/ccivil_03/_Ato2004-2006/2005/Decreto/D5563.htm" target=”_blank” class="list-group-item">Decreto n° 5.563/2005 - Regulamenta a Lei de Inovação Tecnológica</a>
                      	<a href="http://www.planalto.gov.br/ccivil_03/Leis/L8666cons.htm" target=”_blank” class="list-group-item">Lei n° 8.666/1993 - Lei de Licitações e Contratos</a>
                      	<a href="http://www.planalto.gov.br/ccivil_03/Leis/2002/L10520.htm" target=”_blank” class="list-group-item">Lei n° 10.520/2002 - Lei do Pregão Comum e Eletrônico</a>
                      </div>


                      <div class="panel panel-default">
                      	<div class="panel-body">
                      		<a href="#" class="list-group-item active">
                      			LEIS DE IMPORTAÇÃO
                      		</a>
                      		<p>A FEOP, como fundação de apoio à UFOP, realiza importações de máquinas, equipamentos, aparelhos e instrumentos, bem como suas partes e peças de reposição, acessórios, matérias-primas e produtos intermediários, destinados à pesquisa científica e tecnológica, através dos benefícios oferecidos pela lei 8.010 de 1990. A lei dá ao pesquisador a possibilidade de importar, sem que pese sobre a importação os impostos típicos deste tipo de relação comercial.</p>
                      		<p>Assim, os pesquisadores que têm projetos dentro da FEOP poderão adquirir produtos importados utilizando recursos do próprio projeto, concedidos pelo órgão financiador, através do apoio operacional da FEOP, que goza de credenciamento junto ao CNPQ.
                      			Dessa maneira, os pesquisadores que utilizarem da infra-estrutura oferecida pelo Setor de Compras e Importações da FEOP terão os seguintes serviços incluídos:</p>

                      			<ul class="list-group">
                      				
                      				<li class="list-group-item">Adequação da proforma invoice (pedido), caso necessário, junto ao exportador;
                      					Estimativa de custos de importação, englobando o custo do equipamento em si e as despesas acessórias de importação, até o transporte ao local de entrega;</li>
                      					<li class="list-group-item">Emissão de Licença de Importação, Documento de Importação, e outros documentos necessários ao desembaraço aduaneiro, de forma rápida;
                      						Ágil processo de Fechamento de Câmbio junto ao Banco do Brasil, sendo todo o processo, via de regra, realizado de forma on line;</li>
                      						<li class="list-group-item">Procedimento ágil de coleta e embarque dos equipamentos para o porto ou aeroporto de destino, sendo a grande maioria desembarcada em Confins;
                      							Transporte rápido da mercadoria do aeroporto até o endereço de entrega, com imediata entrega ao pesquisador;</li>
                      							<li class="list-group-item">Seguro total de todo o processo, para os casos de perda da mercadoria por extravio ou dano;
                      								Realização de todo o processo em até 2 meses, sem levar em consideração o prazo de produção do produto;</li>
                      								<li class="list-group-item">Envio semanal de e-mail para o pesquisador com informações sobre o andamento do processo de importação;
                      									Atenção prioritária ao pesquisador na solução de dúvidas frente a importação.
                      								</li>
                      							</ul>

                      						</div>


                      					</div>


