<div class="panel panel-default">
	<div class="panel-body">
		<a href="#" class="list-group-item active">
			Missão e Valores
			</a>
		<p>Prestar serviços de apoio  às comunidades científica e acadêmica, com finalidades educacional, cultural e informativa, atuando na captação e gestão de projetos, convênios e contratos de interesse da Universidade Federal de Ouro preto (Ufop) e da comunidade em geral, em benefício do desenvolvimento do Brasil. </p>
		<a href="#" class="list-group-item active">
			Visão
			</a>
		<p>Ser auto-sustentável, com a qualidade dos serviços prestados reconhecida pela comunidade acadêmica e científica.</p>

		
		<ul class="list-group">
			Valores

			<li class="list-group-item">Ética</li>
			<li class="list-group-item">Presteza</li>
			<li class="list-group-item">Qualidade</li>
			<li class="list-group-item">Legalidade</li>
			<li class="list-group-item">Transparência</li>
			<li class="list-group-item">Respeito</li>
			<li class="list-group-item">Bom relacionamento interpessoal</li>
			<li class="list-group-item">Integração no trabalho das equipes</li>
			<li class="list-group-item">Profissionalismo</li>
			
		</ul>

	</div>


</div>


