<div class="panel panel-default">
    <div class="panel-body">
        <a href="#" class="list-group-header">
            <h2 style="color: #26A69A"; >Núcleo de Gestão de  Projetos</h2>
        </a>
        <p>       
        O Núcleo de Projetos exerce uma função estratégica dentro da instituição,</br> tendo como principais objetivos a captação, apoio e execução administrativa e</br>financeira dos projetos geridos pela FEOP.</p>
        

        <ul class="list-group">
            Equipe:
            <li class="list-group-item">Luiz Octávio de Andrade Mendonça 
            </br><strong> Gerente de Projetos.</strong></li>
            <li class="list-group-item">Elaine Cristina da Silva
            </br><strong>Coordenadora de Projetos.</strong></li>
            <li class="list-group-item">
            Maria do Carmo Tomáz</br>
            Tamyres Guimarães de Paula</br>
            </br><strong>Gestoras de Projetos.</strong></li>
            <li class="list-group-item">Luciana Elisei Gonçalves de Sousa
            </br><strong>Estagiária.</strong></li>
            <li class="list-group-item">Contatos:</li>
            <li class="list-group-item">Telefone: 3559-3459/3465</br>
            Email: projetos@feop.com.br</li>
        </ul>

    </div>


</div>




