/*
*= require_self
*= require_tree .
*= require owl.carousel
*= require owl.theme
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "pages.css.scss";
@import 'home.css.scss';
@import 'posts.css.scss';


section {
    padding-top: 0px;
    margin-top: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 40px;
}


.wrapper {
    width: 100%;
    margin: 0 auto;

}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
    margin-left: 25%;
}

.clearfix:after {
    clear: both;
}

header {
    //width: 100%;

    #logo {
        float: left;
        font-size: 1.75rem;
        a {
            color: #000000;
            text-decoration: none;
            &:hover {
                color: #00BFA5;

            }
        }
    }
}

.button {
	border: 1px solid #009688;
	padding: .7rem 1.25rem;
	border-radius: .3rem;
	outline: none;
	background: #009688;
	color: #FFFFFF;
	background-color: #009688;
    &:hover {
                background-color: #00BFA5;
                color: #FFFFFF;
                border: 1px solid #FFFFFF;
            }
}