/*
*= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "pages.css.scss";
@import 'home.css.scss';
@import 'posts.css.scss';



body {
    
    

    background-color: #FFFFFF;
    //background-image: image-url('bg_feop_site.jpg');
    //background-repeat: repeat;
    //background-size: 9%;
    font-family: "Proxima Nova";
    //font-weight: 100;
    padding: 10px;
    padding-bottom: 60px;
    /* Height of the footer */
    position: relative;
    margin-top: 0px;
    padding-top: 115px;
    height: 100%;
}

section {
    padding-top: 0px;
    margin-top: -40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

header {
    width: 100%;
    #logo {
        float: left;
        font-size: 1.75rem;
        a {
            color: #333233;
            text-decoration: none;
            &:hover {
                color: #f4ff81;
            }
        }
    }
    nav {
        margin-top: 210px;
        float: right;
    }
}

.button {
	border: 1px solid #009688;
	padding: .7rem 1.25rem;
	border-radius: .3rem;
	outline: none;
	background: #009688;
	color: #ffffff;

	background-color: #009688;
}





