/*
 *= require_self
 */

body {
	
		
	//background-image: image-url('feop_logo.jpeg');
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-size: 100%;
	
	font-family: "Proxima Nova";
	font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

.wrapper {

	width: 80%;
	height: auto;
	margin: 0 auto;
	/* Margem do conteudo */
	margin-top: 300px;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.button {
	border: 1px solid #9B9B9B;
	padding: .7rem 1.25rem;
	border-radius: .3rem;
	outline: none;
	background: white;
	color: #9B9B9B;
}

/* Combinação */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "pages";
@import 'home.css.scss';
@import 'posts.css.scss';

